@{
    ViewBag.Title = "Fale Conosco Ok";
    ViewBag.idPagina = "faleConosco";
}

<section id='mediabox'>
    <div class='container'>
        <article class='preContent'>
            <header>
                <h1>
                    Fale conosco
                </h1>
            </header>
        </article>
    </div>
</section>
<section id='content'>
    <div class='container'>
        <article class='contact'>
            <header>
                <h1>Sua mensagem foi enviada com sucesso!</h1>
            </header>
            <p>
                Em breve, nossa equipe entrará em contato com você.
                <br>
                <br>
                Obrigado,
                <br>
                Donatella.
            </p>
            <a class='back' href='@Url.Action("Index","FaleConosco")'>Voltar</a>
        </article>
    </div>
</section>
