@model Donatella.Models.TopoHomeViewModel

<article class='profile' id="profile">
    <div class='container'>
        <div class='photo'>
            <img src="~/@ParticipanteHelpers.Foto(Model.Foto)" alt="@Model.Nome">
        </div>
        <h2>
            Bem-vindo,
            <br>
            @Model.Nome
        </h2>
    </div>
</article>