@using Donatella.Models.Enums
@model Donatella.Models.Pedidos.BuscaPedidoViewModel

<div class="row">
    <div class="col-lg-12">
        <h2>Meus Pedidos</h2>
    </div>
</div>
@{ Html.RenderPartial("_BuscaPedido", Model); }