@{
    ViewBag.Title = "Esqueceu a senha";
    ViewBag.idPagina = "cadastro";
}
<section id='mediabox'>
    <div class='container'>
        <article class='preContent'>
            <header>
                <h1>
                    Esqueceu a senha
                </h1>
            </header>
        </article>
    </div>
</section>
<section id='content'>
    <div class='container'>
        <article class='password'>
            <header>
                <h1>Troca de senha</h1>
                <p>A sua senha foi trocada com sucesso.</p>
                <a class='button' href='@Url.Action("Index","Login")'>Ir para o login</a>
            </header>
        </article>
    </div>
</section>
