@{
    ViewBag.Title = "Home";
}

<div id="conteudo">
    <script type="text/javascript">
        configurarPagina('', 'interna participantes', 'de ');
    </script>
    <div class="principal centraliza">
        <div class="coluna-100">
            <ul class="breadcrumb">
                <li>
                    <h1>Home</h1>
                </li>
            </ul>
            <div class="scrollArea">
                <div class="scrollArea-content">
                  
                </div>
            </div>
        </div>
    </div>
</div>
