@model IEnumerable<Donatella.Models.Relatorios.RelatorioDeParticipanteViewModel>


<table id="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cargo</th>
            <th>Email</th>
            <th>Cpf</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Cargo</td>
                <td>@item.Email</td>
                <td>@item.Cpf</td>
            </tr>
        }
    </tbody>

</table>
